<div class="container text-center">
  <h1 class="mt-3 border-bottom pb-4">Add a restaurant</h1>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="w-50">
        <%= simple_form_for @restaurant do |f| %>
          <%= f.input :name, placeholder: "Au petit mitron" %>
          <%= f.input :address, placeholder: "16 villa Gaudelet" %>
          <%= f.input :phone_number, placeholder: "01 23 45 67 89" %>
          <%= f.input :category, collection: Restaurant::LIST, prompt: "Select Category"%>
          <%= f.submit class: "btn btn-success mb-5 mt-2" %>
        <% end %>
      </div>
    </div>

    <%= link_to '<i class="fa-solid fa-rotate-left"></i> Back to restaurant list'.html_safe, restaurants_path, class: "btn btn-primary mb-5" %>
  </div>
</div>
